/* Estilizar o contêiner principal */

.task-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
/* Estilizar os inputs */
input {
  margin-bottom: 10px;
  padding: 8px 15px;
  width: 25rem;
  background-color: #212529;
  color: #e6edef;
  border: none;
  border-radius: 10px;
}

#task-description-input {
  height:  70px;
}

::placeholder {
  color: #e6edef;
  opacity: 0.4;
}

/* Estilizar o botão */
#task-add-button {
  background-color: red;
  color: white;
  padding: 10px 30px;
  border: 1px solid #e6edef;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #212529;
}

/* Estilizando o botão quando hover (passa o mouse por cima) */
#task-add-button:hover {
  background-color: #263238;
  transition: 0.4s;
}

#task-remove-button {
  margin: auto;
}

#delete-task-icon {
  background-color: red;
}

@media (max-width: 768px) {
  input {
    width: 15rem;
  }

  button {
    padding: 10px 15px;
  }
}
