<h1 class="page-title">Dashboard</h1>
<div>
  <div class="task-inputs">
    <input type="text" [(ngModel)]="newTaskTitle" placeholder="Task title...">
    <input id="task-description-input" type="text" [(ngModel)]="newTask" (keyup.enter)="addTask()" placeholder="Task description...">
    <button id="task-add-button" (click)="addTask()">Add Task</button>
  </div>
  <div class="card">
    <div class="card-head">Welcome to the Angular Project!</div>
    <div class="card-body">
      This is your Task List: Add and remove tasks at your convenience.
    </div>
  </div>
  <div class="card" *ngFor="let task of tasks; let i = index">
      <div class="card-head">{{ task.title }} <i class="fas fa-trash-alt delete-task-icon" (click)="removeTask(i)"></i></div>
      <div class="card-body">{{ task.content }}</div>
  </div>
</div>
