<h1 class="page-title">Cryptocurrency</h1>
<div class="container">

  <div class="crypto-search" *ngIf="cryptoData.length > 0">
    <input
      type="text"
      placeholder="Search..."
      class="form-control text-light border-0 my-4 crypto-search-input"
      (keyup)="searchCrypto()"
      [(ngModel)]="searchText"
      >
  </div>

  <table class="table table-dark" *ngIf="cryptoData.length > 0 else skeleton">
    <thead>
      <tr>
        <th *ngFor="let title of titles">
          {{ title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let crypto of filteredCryptoData; let i = index">
        <td>
          {{ i + 1 }}
        </td>
        <td>
          <img class="crypto-images" [src]="crypto.image" alt="{{ crypto.name }}">
          <span class="ms-3">
            {{ crypto.name }}
          </span>
          <span class="crypto-symbol text-uppercase ms-2">
            {{ crypto.symbol }}
          </span>
        </td>
        <td>
          US$ {{ crypto.current_price.toLocaleString() }}
        </td>
        <td [ngClass]="crypto.price_change_percentage_24h > 0 ? 'text-success' : 'text-danger'">
          {{ crypto.price_change_percentage_24h.toLocaleString() }}
        </td>
        <td>
          {{ crypto.total_supply.toLocaleString() }}
        </td>
        <td>
          US$ {{ crypto.market_cap.toLocaleString() }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #skeleton>
  <div class="crypto-skeleton-div skeleton-div">
    <h2 class="skeleton-text">Crypto API not working at the moment, please try again another time.</h2>
  </div>
</ng-template>
